@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(0, 1, 24);
    color: antiquewhite;
}

.btn:hover {
    transform: scale(1.05);
    background: rgb(10, 10, 10)
}

.card {
    background-color: rgb(38, 38, 38);
    color: antiquewhite;
}

.star {
    margin-left: 4rem;
}

.abc {
    margin-top: 6rem;
}

@media only screen and (max-width: 600px) {
    .sourav {
        margin-left: 67px;
    }
    .pakhi {
        margin-left: -32px;
        margin-top: 94px;
    }
}